<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Flask ML App</title>
</head>
<body>
<h1>Flask ML App</h1>
<form action="{{ url_for('predict') }}" method="post">
<label for="sepal length">Sepal Length</label>
<input type="text" name="sepal length" id="sepal length">
<label for="sepal width">Sepal Width</label>
<input type="text" name="sepal width" id="sepal width">
<label for="petal length">Petal Length</label>
<input type="text" name="petal length" id="petal length">
<label for="petal width">Petal Width</label>
<input type="text" name="petal width" id="petal width">
<button type="submit">Predict</button>
 
</form>
<h2>{{ prediction_text }}</h2>

</body>
 
</html>
